.addTaskText{
    color: #747474;
    margin-left: 1rem;
}
.plus-red{
  color: #c64645;
  height: 20px;
}
.add-task-collapsed-main:hover > .plus-red{
    color: white;
    background-color: #c64645;
    border-radius: 50%
}
.add-task-collapsed-main:hover > .addTaskText{
    color: #c64645;
}
.addingTaskExpandedMain{
  border: 1px solid #9d9d9d;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color : #1f1f1f; 

}
.bottom-task-controls{
  border: 1px solid #9d9d9d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}
.add-task-input{
  width: 100%;
  background-color : #1f1f1f; 
  border: none;
  height: 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  margin: .25rem 0;
}
.select-project-button{
  background-color: #202020;
  border: none;
  color:#959595;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.select-project-button:hover{
  background-color: #242424;
  color:white;
}
.select-project-button .colorDot{
  margin: 0 .5rem;
}
.select-project-button svg{
  color:#959595;
  fill:#959595;
  margin: 0 .25rem
}
.select-project-button:hover svg{
  color:white;
  fill: white;
}