*, *::after,*::before {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body{
  background-color: #202020;
}
#root{
  display: flex;
  justify-content: center;
}
button:disabled{
  cursor: not-allowed;
}
.main-container{
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 1200px;
  position: relative;
}
.main-div{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  min-width: 700px;
  flex:1
}
.tasks-main-div{
  gap: 1rem;
}
.task-main-div{
  border-bottom: 1px solid #373737;
  padding-bottom: .25rem;
  display: inline-flex;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center;
  position: relative;
}
.task-main-div > span{
  padding: .25rem;
}
.task-main-div:hover .svg-gray{
  display: inline-block;
}
.task-actions{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.left-nav{
  min-width: 300px;
  background-color: #242424;
  padding: 1rem;
}
.project-section{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.project-section-collapsed{
  max-height: 100%;
  transition: max-height 1s ease-in;
}
.projects-parent-div{
  font-size: 16px;
  display: block;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
}
.projects-label{
  margin-bottom: 1rem;
  display: block;
  color: #b8b8b8;

}
.project-div{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: .25rem 0;
}
.svg-gray{
  color: #b8b8b8;
  fill: #b8b8b8;
  height: 20px;
}
.left-nav:hover .svg-gray{
  display: inline-block ;
}
.arrow-collapsed{
  transform: rotate(90deg);
  transition: transform .25s ease-in-out;
}
.arrow{
  transform: rotate(0deg);
  transition: transform .25s ease-in-out;
}
.h-100{
  min-height: 100%;
}
.h-100-vw{
    min-height: 100vh;

}
.display-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: end;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.flex-column{
  flex-direction: column;
}
.cursor-pointer{
  cursor: pointer;
}

.display-none{
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: #1f1f1f;
  border-radius: 5px;
  min-width: 400px;
  color: #e8e8e8;
}
.modal-name{
  font-size: 1.2rem;
  font-weight: bolder;
}
.modal-name-div{
  border-bottom: 1px solid #2b2b2b;
}
.modal-footer-div{
  display: flex;
  justify-content: end;
  gap: 1rem;
  border-top: 1px solid #2b2b2b;
}
.form-label{
  display: block;
  margin-bottom: .1rem;
}
.form-input{
  width: 100%;
  background-color : #1f1f1f; 
  border: 1px solid #2b2b2b;
  height: 1.5rem;
  border-radius: 5px;
  color: white;
}
.padding-1{
  padding: 1rem;
}
.padding-x{
  padding: 0 1rem;
}
.padding-y{
  padding: 1rem 0;
}
.margin-x{
  margin: 0 1rem;
}
.margin-y{
  margin: 1rem 0;
}
.margin-sm-x{
  margin: 0 .25rem;
}
.margin-sm-y{
  margin: .25rem 0;
}
.dropDown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-button {
  background-color : #1f1f1f; 
  border: 1px solid #2b2b2b !important;
  color: #b8b8b8;
  padding: .25rem;
  font-size: 16px;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content {
  position: absolute;
  color: #b8b8b8;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.text-color-light{
  color: white;
}
.colorDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem;
}
.btn-primary{
  color: white;
  background-color: 	hsl(1, 69%, 58%);
  border: none;
  padding: .5rem;
  border-radius: 5px;
  min-width: 4rem;
}
.btn-primary:disabled{
  color: 	hsl(5, 18%, 80%);
  background-color: 		hsl(5, 41%, 30%);
}
.btn-secondary{
  color: white;
  background-color: #292929;
  border: none;
  padding: .5rem;
  min-width: 4rem;
}
.btn-default{
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  background-color : #1f1f1f;
  padding: .25rem .5rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
}
.color-picker-li{
  cursor: pointer;
  padding: .25rem 0;
}
.color-picker-li:hover{
  background-color: #363636;
}
.customRadio{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #5f5f5f;
  background-color: #202020;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.checkSvg{
  display: none;
}
.customRadio:hover > .checkSvg{
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #25b84c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #25b84c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}